
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
   width: 100%;
   height: 100vh;
   background: url("./Assets/Images/white.jpeg");
   background-size: cover;
   opacity: .95;
}

/* Nav bar */
nav{
   background: linear-gradient(to bottom,rgba(24, 24, 48, 0.5), transparent);
   text-transform: uppercase;
}

nav a { 
   color: rgb(0, 0, 0);
   font-size: 1rem;
}

/* main section About Me */
main{
   max-width: 25rem;
   background-color: #292e31;
   margin-top: 1rem;

}

/*About me image */
.rounded-top {
   float: left;
   clear: both;
   margin-right: 1rem;
   margin-bottom: 1rem;
}

/* footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #292e31;
   color: white;
   text-align: center;
   
}

