*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav a { 
   font-weight: bolder;
   color: black;
}

.img{
   margin-right: 10px;
   margin-bottom: 5px;
   float: right;
}