
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
   width: 100%;
   height: 100vh;
   background: url("./Assets/Images/white.jpeg");
   background-size: cover;
   opacity: .93;
}

/* Nav bar */
nav{
   background: linear-gradient(to bottom,rgba(24, 24, 48, 0.5), transparent);
   text-transform: uppercase;
 
}

nav a { 
   color: rgb(0, 0, 0);
   font-size: 1rem;
}

/* main section About Me */
main{
   max-width: 25rem;
   background-color: #3e3f41;
   margin-top: 1rem;
}

main.mb-2, .my-2 {
   margin-bottom: 10rem!important;
}

/*About me image */
.rounded-top {
   float: left;
   clear: both;
   margin-right: 1rem;
   margin-bottom: 1rem;
}

.contactinfo{
   text-align: center;
}
.infobox{
   border: 1px #fff solid;
   padding: .7rem;
   margin-bottom: .5rem;
   text-align: center;
}

/* portafolio*/
/* buttons */
.portafolio{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   margin: 1rem;
  
}

button.btn{
   padding: 5rem;
   border-style: solid;
   border-color: rgb(38, 38, 44);
}

#pUno{
   background: url("./Assets/Images/passGenerator.png") center no-repeat;
   background-size: cover;
}

#pDos{
   background: url("./Assets/Images/portafolioPlaner.gif") center no-repeat;
   background-size: cover;
}
#resume{
   background: url("./Assets/Images/codelines.jpeg") center no-repeat;
   background-size: cover;
}




/* footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#3e3f41;
   color: white;
   text-align: center;
}

