*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background: url(./Assets/Images/numbersblue.jpeg);
   opacity: .97;
   
}


nav a { 
   font-weight: bolder;
   color: black;
}

.container{
   margin-top: 1rem;
   background-color: #292e31;
 
}


.bg-info {
   background-color: #9ebbc0!important;
  margin-top: 1rem;
}

.img{
   margin-right: 10px;
   margin-bottom: 5px;
   float: right;
}