*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
   width: 100%;
   background: url("./cssImg/script.jpg");
   background-size: cover;
   opacity: .95;
}

/* Nav bar */
nav{
   text-transform: uppercase;
   
}

nav a { 
   color: white;
   font-size: 1rem;
}

/* main sections*/


main.mb-2{
   margin:1rem;
   margin-top: 1rem!important;
   margin-bottom: 7rem!important;
   border-radius: 3rem;
   background-color:#3a4b58c7;
}


/*About me */

.rounded-top {
   float: left;
   clear: both;
   margin-right: 1rem;
   margin-bottom: 1rem;
}

.contactinfo{
   text-align: center;
}
.infobox{
   border: 1px #fff solid;
   padding: .7rem;
   margin-bottom: .5rem;
   text-align: center;
}

/* portafolio*/

div .applications a{
   line-height: .2rem;
   
}
/* buttons */
.portfolio{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   padding-bottom: 1rem;
}

button.btn{
   padding: 8rem;
   border-style: solid;
   border-radius: 8rem;
}


#pUno{
   background: url("./cssImg/passGenerator.png") center no-repeat;
   background-size: cover;
}

#pDos{
   background: url("./cssImg/portafolioPlaner.gif") center no-repeat;
   background-size: cover;
}
#ptres{
   background: url("./cssImg/PortLEtys.png") center no-repeat;
   background-size: cover;
}

/* footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#3a4b58;
   color: white;
   text-align: center;
}

