/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --main-font: "League Spartan,Helvetica,Arial,sans-serif";
  --secondary-font: "LibreBaskerville-Regular,Palatino Linotype,Times New Roman,serif";
  --main-color-dark: #000000;
  --main-color: rgb(61, 196, 206);
  --secondary-color: rgb(130, 180, 184);
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about,
.teams,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: var(--main-font);
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--main-color-dark);
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: var(--main-color);
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: var(--main-font);
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: rgb(0, 0, 0);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: var(--main-color);
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: var(--main-color-dark);
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;

  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: var(--main-color);
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: var(--secondary-color);
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--main-color);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background-color: aliceblue;
  height: 100vh;
  color: var(--main-color-dark);
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  text-align: center;
}

.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 40px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: var(--main-color);
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid rgb(130, 180, 184);
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: var(--main-color);
  background: none;
}

/* icons */
.social-media {
  padding-top: 2rem;
  margin-inline-end: auto;
  align-items: center;
}

.fab {
  color: var(--main-color-dark);
}

/* about section styling */
.about .title::after {
  content: "Who I am";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: var(--main-color);
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid var(--secondary-color);
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: var(--main-color);
  background: none;
}

.skills .fab {
  padding-top: 4rem;
  padding-left: 11rem;
  margin-inline-end: auto;
  align-content: center;
  align-items: center;
  color: gray;
  position: relative;
}

/* projects section styling */
.projects {
  color: #fff;
  background: #111;
}

.projects .title::before {
  background: #fff;
}

.projects .title::after {
  background: #111;
  content: "what i provide";
}

/* projects section styling */
.projects .title::after {
  content: "Achieved";
}
.projects .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover {
  background: var(--main-color);
}
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
  transform: scale(1.05);
}
.projects .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.projects .carousel .card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 11%;
  border: 5px solid var(--secondary-color);
  transition: all 0.3s ease;
}
.projects .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--secondary-color) !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: var(--main-color) !important;
}

/* contact section styling */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: var(--main-color);
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: var(--main-color);
  border: 2px solid var(--secondary-color);
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: var(--main-color);
  background: none;
}

/* footer section styling */
footer {
   background: #111;
   padding: 15px 23px;
   color: #fff;
   text-align: center;
 }
 footer span a {
   color: var(--main-color);
   text-decoration: none;
 }
 footer span a:hover {
   text-decoration: underline;
 }
 